In [2]:
import tensorflow
tensorflow.random.set_seed(1)
from tensorflow.python.keras.layers import Dense
from tensorflow.keras.layers import Dropout
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.wrappers.scikit_learn import KerasRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
cd /content/drive/MyDrive/LSTM for reducing interscanner variablilty/680/

/content/drive/MyDrive/LSTM for reducing interscanner variablilty/680

In [4]:
import numpy as np
import pandas as pd
import warnings
from pandas.api.types import is_numeric_dtype, is_object_dtype
warnings.filterwarnings('ignore')

In [5]:
data1=pd.read_csv("Twitter.csv")
data1.head(10)

   Unnamed: 0                                        Id  ... Comments   Impact
0       41370  6d967b125fcecba6357dbc43f8f380cf2d6d7a51  ...      0.0      0.0
1       27955  22dc5f808a8589186767412f39e5c88ae9753d04  ...      0.0    110.0
2       38151  7f224e66ad757e3066d45947881bcaab91f8e57f  ...      0.0      0.0
3       13558  5acc220e7a337efafc4c847b7f74680ca2515890  ...      4.0   6830.0
4       17071  863abf834897a06afdc459788b34abeae6298f3a  ...      0.0      0.0
5        5627  d8796b1c018e1069ac51c1cb7e58a4855fc35c57  ...      0.0      0.0
6       12079  b62242cf44834b6a917df58c84d8a49f68fd7c40  ...      4.0   1790.0
7       25232  907a35b92f04d6b70eb037086b2b5938bb2545aa  ...      0.0  19580.0
8       11775  3ea3634cea48131c8289cce7812fbe2311da3e69  ...      0.0     30.0
9       39910  12951bc6bd108886e931c90ae5f855daf794940c  ...      0.0      0.0

[10 rows x 18 columns]

In [6]:
data1.columns

Index(['Unnamed: 0', 'Id', 'Post Contet', 'Sentiment score', 'Post Length',
       'Hashtag count', 'Content URL count', 'Tweet count', 'Followers count',
       'Listed Count', 'Media Type', 'Published DateTime', 'Mentions Count',
       'Post author verified', 'Likes', 'Shares', 'Comments', 'Impact'],
      dtype='object')

In [7]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
data1['Media Type'] = labelencoder.fit_transform(data1['Media Type'])

In [9]:
data1.head(5)

   Unnamed: 0                                        Id  ... Comments  Impact
0       41370  6d967b125fcecba6357dbc43f8f380cf2d6d7a51  ...      0.0     0.0
1       27955  22dc5f808a8589186767412f39e5c88ae9753d04  ...      0.0   110.0
2       38151  7f224e66ad757e3066d45947881bcaab91f8e57f  ...      0.0     0.0
3       13558  5acc220e7a337efafc4c847b7f74680ca2515890  ...      4.0  6830.0
4       17071  863abf834897a06afdc459788b34abeae6298f3a  ...      0.0     0.0

[5 rows x 18 columns]

In [10]:
data1.drop(columns=['Id','Post Contet','Published DateTime'],axis=1,inplace=True)

In [11]:
data1.head(2)

   Unnamed: 0  Sentiment score  Post Length  ...  Shares  Comments  Impact
0       41370              0.0         17.0  ...     0.0       0.0     0.0
1       27955             19.3         84.0  ...     1.0       0.0   110.0

[2 rows x 15 columns]

In [12]:
target='Impact'

In [15]:
scaler = MinMaxScaler(feature_range=(0, 1))
# scaled_train = scaler.fit_transform(data1)
# scaled_train_df = pd.DataFrame(scaled_train, columns=data1.columns.values)

In [20]:
scaled_train_df=data1.copy()

In [21]:
scaled_train_df.head(2)

   Unnamed: 0  Sentiment score  Post Length  ...  Shares  Comments  Impact
0       41370              0.0         17.0  ...     0.0       0.0     0.0
1       27955             19.3         84.0  ...     1.0       0.0   110.0

[2 rows x 15 columns]

In [22]:
scaled_train_df[scaled_train_df.columns] = scaler.fit_transform(scaled_train_df[scaled_train_df.columns])

In [23]:
scaled_train_df

       Unnamed: 0  Sentiment score  Post Length  ...    Shares  Comments    Impact
0        0.942820           0.5000     0.043011  ...  0.000000   0.00000  0.000000
1        0.637093           0.9825     0.223118  ...  0.000013   0.00000  0.000110
2        0.869459           0.5000     0.206989  ...  0.000000   0.00000  0.000000
3        0.308986           0.5000     0.760753  ...  0.002749   0.00006  0.006844
4        0.389047           0.0000     0.212366  ...  0.000000   0.00000  0.000000
...           ...              ...          ...  ...       ...       ...       ...
49995    0.377082           0.5000     0.284946  ...  0.000000   0.00000  0.000000
49996    0.297637           0.5000     0.327957  ...  0.000000   0.00000  0.000000
49997    0.884660           0.5000     0.604839  ...  0.000000   0.00000  0.000000
49998    0.103580           0.2455     0.811828  ...  0.000000   0.00000  0.000030
49999    0.343558           0.5000     0.669355  ...  0.000000   0.00000  0.000000

[50000 rows x 15 columns]

In [24]:
X = scaled_train_df.drop(target, axis=1).values
Y = scaled_train_df[[target]].values

In [95]:
x_train,x_test,y_train,y_test=train_test_split(X,Y,test_size=0.2,random_state=0)

In [ ]:
ANNn Model

In [100]:
import keras 
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [105]:
# Initialize the ANN
classifier = Sequential()

# Build the input and hidden layers with dropout
classifier.add(Dense(units = 32, activation = 'relu', kernel_initializer = 'uniform', input_dim = 14))
classifier.add(Dropout(rate = 0.1))

# Adding the second hidden layer
classifier.add(Dense(units = 32, activation = 'relu', kernel_initializer = 'uniform'))
classifier.add(Dropout(rate = 0.1))

# Adding an output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [106]:
# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [107]:
# Fitting ANN to training set
classifier.fit(x_train, y_train, batch_size = 5, epochs = 15)

Epoch 1/15
8000/8000 [==============================] - 16s 2ms/step - loss: 0.1496 - accuracy: 0.2011
Epoch 2/15
8000/8000 [==============================] - 16s 2ms/step - loss: 0.1017 - accuracy: 0.1980
Epoch 3/15
8000/8000 [==============================] - 15s 2ms/step - loss: 0.1023 - accuracy: 0.2018
Epoch 4/15
8000/8000 [==============================] - 15s 2ms/step - loss: 0.1011 - accuracy: 0.2002
Epoch 5/15
8000/8000 [==============================] - 15s 2ms/step - loss: 0.1015 - accuracy: 0.1981
Epoch 6/15
8000/8000 [==============================] - 15s 2ms/step - loss: 0.0996 - accuracy: 0.2031
Epoch 7/15
8000/8000 [==============================] - 16s 2ms/step - loss: 0.1008 - accuracy: 0.2023
Epoch 8/15
8000/8000 [==============================] - 15s 2ms/step - loss: 0.1013 - accuracy: 0.1987
Epoch 9/15
8000/8000 [==============================] - 15s 2ms/step - loss: 0.1027 - accuracy: 0.2020
Epoch 10/15
8000/8000 [==============================] - 15s 2ms/step - loss: 0.1005 - accuracy: 0.2013
Epoch 11/15
8000/8000 [==============================] - 15s 2ms/step - loss: 0.1008 - accuracy: 0.2026
Epoch 12/15
8000/8000 [==============================] - 15s 2ms/step - loss: 0.1012 - accuracy: 0.2006
Epoch 13/15
8000/8000 [==============================] - 16s 2ms/step - loss: 0.1011 - accuracy: 0.1988
Epoch 14/15
8000/8000 [==============================] - 15s 2ms/step - loss: 0.1011 - accuracy: 0.2006
Epoch 15/15
8000/8000 [==============================] - 15s 2ms/step - loss: 0.1007 - accuracy: 0.2026

In [109]:
y_predict=classifier.predict(x_test)

In [110]:
y_predict.shape

(10000, 1)

In [111]:
r2_score(y_test, y_predict)

0.9965805061653267

using kfold

In [112]:
from sklearn.model_selection import train_test_split,KFold,cross_val_score
from keras.models import Sequential
from keras.layers import Activation, Dense,Flatten,LSTM,Dropout
kfold=KFold(5,True,5)
cvscores = []

In [114]:
for train, test in kfold.split(X):
  X_train=X[train]
  y_train=Y[train]
  X_test=X[test]
  y_test=Y[test]
  
  classifier = Sequential()

# Build the input and hidden layers with dropout
  classifier.add(Dense(units = 200, activation = 'relu', kernel_initializer = 'uniform', input_dim = 14))
  classifier.add(Dropout(rate = 0.1))

# Adding the second hidden layer
  classifier.add(Dense(units = 200, activation = 'relu', kernel_initializer = 'uniform'))
  classifier.add(Dropout(rate = 0.1))

# Adding the third hidden layer
  classifier.add(Dense(units = 200, activation = 'relu', kernel_initializer = 'uniform'))
  classifier.add(Dropout(rate = 0.1))

# Adding an output layer
  classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

  model.compile(loss='mse', optimizer='adam',metrics =["mse"])
  model.fit(x_train, y_train, epochs=15, batch_size=64, verbose=0,shuffle=False)
  
  scores = model.evaluate(x_test,y_test,verbose=0)
  print("%s: %.2f%%" % (model.metrics_names[1], scores[1]*100))
  cvscores.append(scores[1] * 100)
print("%.2f%% (+/- %.2f%%)" % (np.mean(cvscores), np.std(cvscores)))

mse: 11.18%
mse: 11.25%
mse: 11.21%
mse: 11.20%
mse: 11.20%
11.21% (+/- 0.03%)